---
Language:                         Cpp
BasedOnStyle:                     WebKit
AccessModifierOffset:             -4
BreakBeforeBraces:                Linux
ColumnLimit:                      200
IndentWidth:                      4
ContinuationIndentWidth:          8
DerivePointerAlignment:           false
PointerAlignment:                 Left
QualifierAlignment:               Right
NamespaceIndentation:             None
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine:   Empty
