---
Language:                         Cpp
BasedOnStyle:                     WebKit
AccessModifierOffset:             -4
BreakBeforeBraces:                Allman
ColumnLimit:                      120
IndentWidth:                      4
AllowShortFunctionsOnASingleLine: false
DerivePointerAlignment:           false
PointerAlignment:                 Left
NamespaceIndentation:             None
