[user]
	name = MATTHΞW
	email = mattxlee@gmail.com
[color]
    ui = true
[alias]
    st = status -s
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white) %an%C(reset)' --abbrev-commit
[core]
    quotepath = false
    editor = vi
    pager = less -F -X
    autocrlf = input
    excludesfile = ~/.gitignore_global
[gui]
    encoding = utf-8
[push]
    default = simple
[pull]
    rebase = true
[credential]
    helper = store
[credential "github.com"]
    useHttpPath = true
# [http]
    # proxy = http://localhost:8080
    # sslVerify = false
[safe]
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector-frontend/meme-collector-frontend
	directory = /Users/matthew/action-runner/_work/meme-collector-frontend/meme-collector-frontend
	directory = /Users/matthew/action-runner/_work/meme-collector-frontend/meme-collector-frontend
	directory = /Users/matthew/action-runner/_work/meme-collector-frontend/meme-collector-frontend
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
	directory = /Users/matthew/action-runner/_work/meme-collector/meme-collector
